<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">

</head>
<body>
<header th:replace="fragment/layout :: header"></header>
<br>
<h3 style="background-color: white">Welcome to home</h3>
<img src="https://img3.goodfon.com/wallpaper/nbig/1/41/minimalizm-monitor-kompyuter.jpg"
  type="avatar"   style="width: 400px; height: 250px;  margin-left: 500px; display: inline;"><h3 style="background-color: white;">Learn Smarter</h3>

<br>
<footer th:replace="fragment/layout :: footer"></footer>

</body>
</html>